@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #242424;
  color: #d5d5d5;
  font-family: 'Jure', sans-serif;
  font-weight: 400;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}
